.volcano-detials__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 150px;
}

.volcano-detials__section .right {
    flex: 1;
}

.volcano-detials__section .left h1 {
    font-size: 40px;
    font-weight: 700;

}

.volcano-detials__section .left p {
    font-size: 18px;
    font-weight: 600;
}