.volcano-detials__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.volcano-detials__section .right {
    flex: 1;
}